# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
*.local

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 只在本地开发时忽略dist目录，CI环境需要使用它
# 移除这行: /dist
# 改为以下内容（如果您使用的是bash）
# !/.gitignore
# echo "/dist" >> .gitignore.local